*{
    margin: 0;
    padding: 0;
    font-family: Alef;
}
body{
    background-color: black;
    color: #ffffff;
}
.wrapper{
    width: 88%;
    margin: 0 auto;
    padding-top: 20px;
}
nav{
    width: 100%;
    background-color: black;
}
.header-container{
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
    padding-top: 15px;
}
.header-container a{
    text-decoration: none;
}
.header-container h3{
    font-size: 22px;
    font-weight: 600;
}
.pg-banner{
    width: 100%;
    background-image: url(images/bglandpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pg-banner h1{
    font-size: 35px;
    font-weight: 900;
    line-height: 75px;
}
.pg-banner p{
    font-size: 15px;
    font-weight: 100;
    line-height: 45px;
    margin-bottom: 30px;
}
.btn-btn1{
    border: none;
    width: 100%;
    padding: 3px;
    font-size: 17px;
    font-weight: 900;
    border-radius: 10px;
    background-color: #44e2ea;
    border: 1px solid black;
    margin-bottom: 10px;
}
.btn-btn2{
    border: none;
    width: 100%;
    padding: 3px;
    font-size: 17px;
    font-weight: 900;
    border-radius: 10px;
    background-color: black;
    border: 1px solid #44e2ea;
    color: #44e2ea;
    margin-bottom: 40px;
}
.btn-btn1:hover{ 
    background-color: black;
    border: 1px solid #44e2ea;
    color: #44e2ea;
}
.btn-btn2:hover{ 
    background-color: #44e2ea;
    border: 1px solid #44e2ea;
    color: black;
}

@media only screen and (min-width: 768px){
    .pg-banner{
        width: 100%;
        height: 90vh;
        background-image: url(images/bglandpg.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
    }
    .wrap-content-banner{
        width: 60%;
    }
    .pg-banner h1{
        font-size: 45px;
        font-weight: 900;
        line-height: 70px;
    }
    .pg-banner p{
        margin-top: 20px;
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
    }
    .btn-btn1{
        width: 30%;
        margin-right: 100px;
    }
    .btn-btn2{
        width: 30%
    }
    .secondhr{
        display: none;
    }
}


.page-text{
    font-size: 25px;
    font-weight: 70;
    line-height: 40px;
    text-align: center;
    margin-top: 35px;
}

.page-element1{
    width: 100%;
    background-image: linear-gradient(90deg,#44e2ea, #cefbfd, #1b5d9a);
    text-align: center;
    border-radius: 15px;
    padding-top: 15px;
}
.page-element1 div{
    padding: 20px;
    line-height: 30px;
    margin: 0 50px;
}
.page-element1 div p{
    font-size: 60px;
    font-weight: 550;
    color: black;
}
.page-element1 div h6{
    font-size: 22px;
    font-weight: 350;
    color: black;
}

@media only screen and (min-width: 768px){
.page-element1{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg,#44e2ea, #cefbfd, #0f60aa);
    text-align: center;
    border-radius: 15px;
    padding-top: 15px;
}
.page-element1 div{
    padding: 20px;
    line-height: 30px;
    margin: 0 50px;
}
.page-element1 div p{
    font-size: 60px;
    font-weight: 550;
    color: black;
}
.page-element1 div h6{
    font-size: 22px;
    font-weight: 350;
    color: black;
}
}

.page-text2{
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
}

.page-element2{
    margin-top: 30px;
    margin-bottom: 25px;
}
.card-title p{
    background-image: -webkit-linear-gradient(0deg,#44e2ea,#0f60aa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    font-weight: 700;
    padding: 0 30px;
}
.card{
    border: 1px solid #0f60aa;
    background-color: black;
    text-align: center;
    margin-top: 20px;
}
.bi{
    margin-top: 20px;
    color: #44e2ea;
    font-size: 20px;
}
.card-body{
    color: #ffffff;
    font-size: 17px;
    padding: 10px;
    padding: 0 20px;
}


@media only screen and (min-width: 768px){
    .page-element2{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 45px;
    }
    .card{
    border: 1px solid #0f60aa;
    background-color: black;
    text-align: center;
}
}

.last-element{
    width: 100%;
    background-image: linear-gradient(90deg,#0f60aa,#0f60aa, #44e2ea);
}
.last-element-text1{
    font-size: 35px;
    font-weight: 900;
    padding: 10px;
    text-align: center;
}
.last-element-text2{
    color: black;
    font-size: 23px;
    text-align: center;
}
.btn-lement{
    border: none;
    padding: 3px;
    width: 88%;
    margin: 20px 0;
    font-size: 17px;
    font-weight: 900;
    border-radius: 10px;
    background-color: black;
    border: 1px solid #44e2ea;
    color: #44e2ea;
}
.button-parent{
    text-align: center;
}
.btn-lement:hover{
    border: 1px solid black;
    background-color: #44e2ea;
    color: black;
}

@media only screen and (min-width: 768px){
    .lastelement-contrainer{
        display: flex;
        padding-top: 20px;
    }
    .last-element-text1{
        text-align: left;
        margin: 0 auto;
        width: 88%;
        padding: 0 6%;
    }
    .last-element-text2{
        text-align: left;
    }
    .button-parent{
        text-align: left;
        margin: 0 auto;
        width: 88%;
        padding: 0 6%;
    }
}

footer{
    background-color: black;
    text-align: center;
    margin: 50px 0;
}
.footer-element1{
    font-size: 20px;
    font-weight: 900;
}
.footer-element2{
    font-size: 14px;
}